<nav>
    <a href="/listings">Wanderlust</a> &nbsp;&nbsp;
    <a href="/listings/new">Add Listing</a>&nbsp;&nbsp;
    <a href="/login">Login</a>&nbsp;&nbsp;
    <a href="/signup">Sign Up</a>
</nav>

<hr>