/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #337dbe;
} */

nav {
    height: 5rem;
    background-color: white;
}

nav .navbar-brand {
    color: #ff385c;
}