/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #337dbe;
} */

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;     
}

a {
    text-decoration: none;
    color: #222;
}

main {
    flex: 1;
}

nav {
    height: 5rem;
    background-color: white;
}

nav .navbar-brand {
    color: #ff385c;
}

footer {
    background-color: white;
    color: #222;
}

footer h5 {
    color : #ff385c;
}

footer a {
    color: #222;
}

.card {
    border: none;
}

.card .card-img-top {
    border-radius: 10px;
}

.card .card-body {
    line-height: 5px;
}

.card:hover .card-img-overlay {
    background-color: #fff;
    opacity: 20%;
}